@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  margin: 0px;
  color: #1F2128;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
